.top-img {
    background-image: url("/public/assets/images/bgImages/topSection.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    padding:0;
    margin:0;
}